include ../input/input.pug
include ../button/button.pug

mixin formCheckout(form)
  if form
    .formCheckout

      form.formCheckout__form(action=(form.action ? form.action: ''), method="POST")
        .formCheckout__container
          .formCheckout__card.formCheckout__card_face

            each field in form.fields
              if field.label
                .formCheckout__field
                  label.formCheckout__label= field.label
                    if field.required === true
                      span.formCheckout__label_required
                    if field.group === true
                      div
                        +input(null, 'input_small input_checkout' ,field.month)
                        span.formCheckout__line /
                        +input(null, 'input_small input_checkout' ,field.year)
                    else
                      +input(null,'input_checkout' ,field.name)

          .formCheckout__card
            .formCheckout__field.formCheckout__field_cvv
              label.formCheckout__label= 'CVV/CVC'
                span.formCheckout__label_required
                +input(null,'input_medium input_checkout','cvv')
              span.formCheckout__btn-Tooltip ?
              .formCheckout__tooltip
                  svg.formCheckout__tooltip-icon
                    use(xlink:href="#cvcLocation")
                  p= form.placeholder

        .formCheckout__agreement
          label.formCheckout__agreement-content
            input.formCheckout__agreement-checkbox(type="checkbox", name="agreement")
            span i accept the
            button.formCheckout__agreement-button(data-popup="#popupAgreement" type="button" data-inside="true") Terms and Conditionals
        +button('Place order ( $624.99$ )', 'formCheckout__submit')

